#board{
    background-color: cornflowerblue;
    width: 17em;
}
.row{
    display: flex;
    align-items: center;
    column-gap: .2em;
}
.balls{
    display: flex;
    column-gap: .5em;
}
.ball {
    height: 2em;
    width: 2em;
    border: .1em solid black;
    border-radius: .5em;
}
.hintBalls {
    display: flex;
    column-gap: .2em;
}
.hintBall {
    height: 1em;
    width: 1em;
    border: .1em solid rgb(77, 18, 18);
    border-radius: 50%;
}