.row{
    display: flex;
    align-items: center;
    column-gap: .2em;
    margin-top: .5em;
}
.balls{
    display: flex;
    column-gap: .5em;
}
.ball {
    height: 2em;
    width: 2em;
    border: .15em solid white;
    border-radius: .5em;
}
.hintBalls {
    display: flex;
    column-gap: .2em;
}
.hintBall {
    height: 1em;
    width: 1em;
    border: .15em solid white;
    border-radius: 50%;
}
/* Móvil */
@media (max-width:1199px){
    
}
/* Portatil */
@media (min-width:1200px){

}