@media (min-width:1200px) {

    /* Home page */
    .navBar {
        margin-top: -2em;
    }

    .logo {
        font-size: 9em;
        letter-spacing: 0.1em;
    }

    .masterMainBody,
    .indexBody {
        row-gap: 2em;
    }

    .homeImg {
        height: 10em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3em;
        margin-top: 1.5em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11em;
        font-size: 1.2em;
        height: 2.5em;
        border-radius: .5em;
    }

    .playGame {
        width: 12em;
        font-size: 2em;
        height: 3em;
    }

    .secundaryBtns {
        display: flex;
        column-gap: 1em;
    }

    /* How to play */
    .sectionTitle {
        width: 90vw;
        font-size: 1.2em;
    }

    .section {
        display: flex;
        align-items: center;
        text-align: justify;
        column-gap: 1em;
    }

    .bottomSection{
        margin-top: -1em;
    }

    .sectionText a {
        color: rgb(115, 243, 252);
    }

    /* Level */
    .formLabel {
        font-size: 2em;
    }

    .inputName {
        height: 2em;
        width: 11.5em;
        font-size: 1.4em;
    }

    .lvlInputBtn {
        font-size: 1.5em;
        width: 7em;
        height: 3em;
    }

    .messageUser {
        font-size: 1.7em;
        border-radius: .5em;
        height: 4em;
        width: 11em;
        margin-top: 1em;
    }

    .levelBtn {
        border-radius: 1em;
        width: 15em;
        font-size: 2em;
        height: 3.7em;
    }

    /* Colours */
    .coloursTitle {
        font-size: 1.5em;
    }

    .easyDifficulty {
        margin-top: 2em;
        row-gap: 3em;
    }

    .hardDifficulty {
        display: flex;
        row-gap: 3em;
        margin-top: 3em;
    }

    .sectionColours {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }

    .selectColour {
        display: flex;
        justify-content: space-around;
        column-gap: 3em;
    }

    .mediumDifficulty .selectColour {
        display: flex;
        column-gap: 6em;
        margin-top: .5em;
        margin-bottom: -.5em;
    }

    .hardDifficulty .selectColour {
        margin-top: -1em;
    }

    .inputColour {
        display: flex;
        justify-content: center;
        column-gap: 1.5em;
    }

    .playBtn {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        height: 3em;
        width: 10em;
        border-radius: .5em;
        margin-top: 1em;
    }

    .checkBtn {
        margin-top: 1em;
        margin-left: .6em;
        font-size: 1.3em;
        height: 2em;
        width: 10em;
        border-radius: .5em;
    }

    /* Winner */
    .bodyWinner {
        font-size: 4em;
        margin-bottom: 2em;
    }

    .newGame,
    .exit {
        border: .2em solid white;
        font-size: 2em;
        height: 3em;
        transition: background-color 0.3s;
    }

    .newGame {
        margin-bottom: 2em;
        margin-right: 6em;
    }

}

.hidden {
    display: none;
}