@media (min-width:1200px) {

    /* Home page */
    .navBar {
        /* height: 17vh; */
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .logo{
        font-size: 10em;
        letter-spacing: 0.1em;
    }

    .masterMainBody,
    .indexBody {
        row-gap: 2em;
    }


    .homeImg {
        height: 10em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3em;
        margin-top: 1.5em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11em;
        font-size: 1.2em;
        height: 2.5em;
        border-radius: .5em;
    }

    .playGame {
        width: 12em;
        font-size: 2em;
        height: 3em;
    }

    .secundaryBtns {
        display: flex;
        column-gap: 1em;
    }

    /* How to play */
    .sectionTitle {
        width: 90vw;
        font-size: 1.2em;
    }

    .section {
        display: flex;
        align-items: center;
        text-align: justify;
        column-gap: 1em;
    }

    /* Level */
    .formLabel {
        font-size: 2em;
    }

    .inputName {
        height: 2em;
        width: 11.5em;
        font-size: 1.4em;

    }

    .lvlInputBtn {
        font-size: 1.5em;
        width: 7em;
        height: 3em;
    }

    .messageUser {
        font-size: 1.7em;
        border-radius: .5em;
        height: 4em;
        width: 11em;
        margin-top: 2em;
    }

    .levelBtn {
        border-radius: 1em;
        width: 15em;
        font-size: 2em;
        height: 3.7em;
    }

    /* Colours */
    .coloursTitle {
        font-size: 1.5em;
        /* margin-bottom: 1em; */
    }

    .easyDifficulty {
        margin-top: 2em;
        row-gap: 3em;
    }

    .hardDifficulty {
        display: flex;
        row-gap: 3em;
        margin-top: 3em;
    }

    .sectionColours {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }

    /* .inputColours {
        display: flex;
        padding: 0;
        height: 3em;
        width: 3em;
        border-radius: .2em;
        border: .1em solid black;
    } */

    .selectColour {
        display: flex;
        justify-content: space-around;
        column-gap: 3em;
    }

    .mediumDifficulty .selectColour {
        display: flex;
        column-gap: 6em;
        margin-top: .5em;
        margin-bottom: -.5em;
    }

    .hardDifficulty .selectColour {
        margin-top: -1em;
    }

    .inputColour {
        display: flex;
        justify-content: center;
        column-gap: 1.5em;
    }

    /* .mediumDifficulty .inputColour {
        display: flex;
        column-gap: 9em;
    } */

    .playBtn {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        height: 3em;
        width: 10em;
        border-radius: .5em;
        margin-top: 1em;
    }
    
    /* .colour {
        height: 5em;
        width: 5em;
        border: .1em solid black;
        border-radius: 50%;
    } */
    /*---------------------------------------------- REVISADO -----------------------------------------------*/












    




    















    .checkBtn {
        margin-top: 1em;
        margin-left: .6em;
        font-size: 1.3em;
        height: 2em;
        width: 10em;
        border: .15em solid rgb(121, 218, 180);
        border-radius: .5em;
    }

}