* {
    box-sizing: border-box;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}
.selectColour .inputColours{
    background-color: transparent;
    border: none;
    appearance: none;
}
.selectColour .inputColours::-webkit-color-swatch{
    border-radius: 50%;
    appearance: none;
    border: none;
}
.inputColours::-moz-color-swatch{
    border: none;
}


a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .navBar {
    background-color: lightcoral;
} */

.masterMainBody {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .bodyMasterMind,
.bodyLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .btnMain,
.levelBtn {
    border: .1em solid black;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .easyLevel{
    background: url("../img/easyLevel.png") no-repeat;
    background-position: bottom left;
} */
/* .mediumLevel{
    background: url("../img/mediumLevel.png") no-repeat;
    background-position: bottom left;
} */
/* .hardLevel{
    background: url("../img/hardLevel.png") no-repeat;
    background-position: bottom center;
} */

.hardDifficulty {
    display: flex;
    flex-direction: column;
    row-gap: .1em;
}

.colour {
    height: 1em;
    width: 1em;
    border: .1em solid black;
}

.selectColour {
    display: flex;
    justify-content: space-around;
}

.inputColours {
    display: flex;
    height: 1em;
    width: 1em;
    border-radius: .2em;
    border: .1em solid black;
}

.easyLevel {
    background-color: green;
}

.mediumLevel {
    background-color: rgb(255, 174, 0);
}

.hardLevel {
    background-color: red;
}

.lvlInputBtn {
    cursor: pointer;
}

.playGame {
    background-color: rgb(247, 87, 87);
}

.howToPlay,
.developer {
    background-color: rgb(135, 135, 245);
}

/* Vista móvil */
/* @media (max-width:576px) { */
@media (max-width:1199px) {

    .navBar {
        height: 17vh;
        margin-bottom: 1em;
    }

    .masterMainBody {
        row-gap: 2em;
    }

    .homeImg {
        height: 12em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        font-size: 1em;
        height: 2em;
        border-radius: .5em;
    }

    .playGame {
        width: 8em;
        font-size: 2em;
        height: 3em;
    }

    .secundaryBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }

    .levelsBody {
        margin-top: 2em;
    }

    .levelBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5em;
        width: 8em;
        font-size: 2em;
        height: 3em;
    }

    .colourBody {
        /* height: 80vh; */
        display: flex;
        justify-content: center;
    }

    .easyDifficulty {
        display: flex;
        flex-direction: column;
        row-gap: 3em;
        margin-top: 3em;
    }

    .mediumDifficulty .inputColour {
        display: flex;
        column-gap: 7em;
    }

    .mediumDifficulty .selectColour {
        display: flex;
        column-gap: 7em;
    }

    .hardDifficulty {
        display: flex;
        row-gap: 3em;
        margin-top: 3em;
    }

    .inputColour {
        display: flex;
        justify-content: center;
        column-gap: 1.5em;
    }

    .colour {
        height: 5em;
        width: 5em;
        border: .1em solid black;
        border-radius: 50%;
    }

    .selectColour {
        display: flex;
        justify-content: space-around;
        column-gap: 1.6em;
    }

    .inputColours {
        display: flex;
        padding: 0;
        height: 3em;
        width: 3em;
        border-radius: .2em;
        border: .1em solid black;
    }

    .sectionColours {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }

    .sectionTitle {
        width: 90vw;
        font-size: 1.2em;
        border-bottom: .1em solid black;
    }

    .bodySection {
        display: flex;
        flex-direction: column;
        width: 90vw;
        row-gap: 1em;
    }

    .section {
        display: flex;
        align-items: center;
        text-align: justify;
        column-gap: 1em;
    }

    .bottomSection {
        display: flex;
        flex-direction: row-reverse;
    }

    .formLabel {
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: -.7em;
    }

    .inputName {
        height: 1.6em;
        width: 11.5em;
        font-size: 1.4em;
        border: .1em solid black;
        border-radius: .4em;
        display: flex;
        text-align: center;
    }

    .lvlInputBtn {
        font-size: 1.5em;
        border: .1em solid black;
        border-radius: .7em;
        width: 5em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    .messageUser {
        font-size: 1.7em;
        background-color: rgb(205, 38, 38);
        border-radius: .5em;
        border: .2em solid rgb(86, 0, 0);
        color: white;
        height: 3.5em;
        width: 11em;
        margin-top: .1em;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .playBtn{
        height: 2em;
        width: 5em;
        background-color: firebrick;
    }

    /* .bodyMasterMind,
    .bodyLevel {
        margin-top: .5em;
    } */

    /* .bodyMasterMind {
        row-gap: 2em;
    } */

    /* .btnsMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        width: 100%;
    } */


    /* .lvl .bodyMasterMind {
        margin-top: 6em;
    } */

    /* .lvl .bodyLevel {
        margin-top: 4.5em;
    } */

    /* .bodyLevel {
        row-gap: 1.5em;
    } */

    /* .levelBtn {
        width: 12em;
        height: 5em;
    } */

    /* .easyLevel {} */

    /* .mediumLevel {} */

    /* .hardLevel {} */

}