* {
    box-sizing: border-box;
    color: white;
    font-family: 'Monomaniac One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/wallpaper.jpg") rgb(17, 15, 75) no-repeat;
    background-size: cover;
    background-position-x: center;
}

a {
    text-decoration: none;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home page */
.masterMainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playGame {
    background-color: rgba(23, 22, 110, 0.726);
    border: .2em solid white;
    transition: background-color 0.3s;
}

.playGame:hover {
    background-color: transparent;
}

.howToPlay,
.developer {
    border: .1em solid white;
    transition: background-color 0.3s;

}

.howToPlay:hover,
.developer:hover {
    background-color: rgba(23, 22, 110, 0.726);
}

/* How to play */
.sectionTitle {
    border-bottom: .1em solid white;
}

.sectionText a {
    border-bottom: .1em solid white;
    cursor: pointer;
}

.bodySection {
    display: flex;
    flex-direction: column;
    width: 90vw;
    row-gap: 1em;
}

.bottomSection {
    display: flex;
    flex-direction: row-reverse;
}

/* Level */
.messageUser {
    display: flex;
    align-items: center;
    text-align: center;
    border: .2em solid white;
}

.lvlInputBtn {
    border: .1em solid white;
    transition: background-color 0.3s;
}

.lvlInputBtn:hover {
    background-color: rgb(23, 22, 110);
}

.levelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.easyLevel {
    border: .2em solid white;
    transition: background-color 0.3s;
}

.easyLevel:hover {
    background-color: rgba(255, 247, 0, 0.6);
    transition: background-color 0.3s;
}

.mediumLevel {
    border: .2em solid white;
    transition: background-color 0.3s;
}

.mediumLevel:hover {
    background-color: rgba(229, 68, 71, 0.6);
    transition: background-color 0.3s;
}

.hardLevel {
    border: .2em solid white;
    transition: background-color 0.3s;
}

.hardLevel:hover {
    background-color: rgba(182, 3, 253, 0.6);
    transition: background-color 0.3s;
}

/* Colours */
.colourBody {
    display: flex;
    justify-content: center;
}

.coloursTitle {
    align-items: center;
    text-align: center;
}

.easyDifficulty {
    display: flex;
    flex-direction: column;
}

.hardDifficulty {
    display: flex;
    flex-direction: column;
    row-gap: .1em;
}

.playBtn {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.playBtn {
    border: .2em solid white;
    transition: background-color 0.3s;
}

.playBtn:hover {
    background-color: rgb(23, 22, 110);
    transition: background-color 0.3s;
}

/* Colours - Picker Colour */
.selectColour {
    display: flex;
    justify-content: space-around;
}

.selectColour .inputColours {
    background-color: transparent;
    height: 6em;
    width: 6em;
    border: none;
    appearance: none;
}

.selectColour .inputColours::-webkit-color-swatch {
    border-radius: 50%;
    appearance: none;
    border: .2em solid white;
}

.inputColours::-moz-color-swatch {
    border: none;
}

/* Colours - Picker Colour */
#winnerChoice .titleArrColours,
.showColours .winnerChoiceArr {
    display: none;
}

input {
    color: black;
}

.inputName {
    border: .1em solid white;
    border-radius: .4em;
    display: flex;
    text-align: center;
}

.lvlInputBtn {
    /* color: white; */
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid white;
    cursor: pointer;
}

.checkBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    border: .2em solid white;
    transition: background-color 0.3s;
    background-color: rgb(247, 0, 255);
}

.checkBtn:hover {
    transition: background-color 0.3s;
    background-color: transparent;
}

.colour {
    height: 1em;
    width: 1em;
    border: .1em solid black;
}

.gameBody {
    display: flex;
    justify-content: center;
}

.availableColour {
    margin-left: -2.65em;
}

.showColours {
    display: flex;
    column-gap: .5em;
}

.colorSquare {
    height: 2em;
    width: 2em;
    border-radius: .5em;
}

.bigCircle,
.smallCircles {
    background-color: rgb(197, 197, 197);
}

/*Winner*/
.newGame:hover,
.exit:hover {
    background-color: rgb(23, 22, 110);
}

/* Vista móvil */
@media (max-width:1199px) {

    /* Home page */
    .navBar {
        /* height: 17vh; */
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .logo {
        font-size: 3em;
        letter-spacing: 0.1em;
    }

    .masterMainBody {
        row-gap: 2em;
    }

    .homeImg {
        margin-top: 1em;
        height: 9em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        font-size: 1em;
        height: 2em;
        border-radius: .5em;
    }

    .playGame {
        width: 7em;
        font-size: 2em;
        height: 2.5em;
        margin-top: .5em;
    }

    .secundaryBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }

    /* How to play */
    .sectionTitle {
        width: 90vw;
        font-size: 1.2em;
    }

    .sectionText a {
        color: rgb(252, 115, 195);
    }

    .section {
        display: flex;
        align-items: center;
        text-align: justify;
        column-gap: 1em;
    }

    /* Level */
    .levelsBody {
        margin-top: 2em;
    }

    .formLabel {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: -.7em;
    }

    .inputName {
        height: 1.6em;
        width: 11.5em;
        font-size: 1.4em;
    }

    .lvlInputBtn {
        font-size: 1.5em;
        width: 5em;
        height: 2em;
    }

    .levelBtn {
        border-radius: .5em;
        width: 8em;
        font-size: 2em;
        height: 3em;
    }

    .messageUser {
        font-size: 1.7em;
        border-radius: .5em;
        height: 3.5em;
        width: 11em;
        margin-top: .1em;
    }

    /* Colours */
    .colourBody {
        row-gap: 0em;
    }

    .coloursTitle {
        font-size: 1.5em;
        width: 10em;
        margin-bottom: .5em;
    }

    .easyDifficulty {
        row-gap: 2em;
        margin-top: 1em;
    }

    .hardDifficulty {
        row-gap: 1em;
        margin-top: 2em;
    }

    .sectionColours {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }

    .selectColour {
        display: flex;
        justify-content: space-around;
        column-gap: 2em;
    }

    .mediumDifficulty .selectColour {
        column-gap: 2em;
        margin-bottom: -1em;
    }

    .hardDifficulty .selectColour {
        column-gap: 1em;
    }

    .mediumDifficulty .inputColour {
        display: flex;
        column-gap: 7em;
    }

    .playBtn {
        font-size: 1.5em;
        height: 3em;
        width: 6.5em;
        border-radius: .5em;
        margin-top: 1.5em;
    }

    /*Diseño del tablero*/
    .gameBoard {
        width: 13.5em;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(5, 2em);
        /*Separación entre los cuadrados grandes*/
        gap: .3em;
        /*Separación entre cada fila*/
        margin-top: .5em;
        width: 13.5em;
    }

    /*Casillas donde van los colores en el tablero*/
    .bigCircle,
    .smallCircles {
        border: .15em solid white;
        border-radius: .5em;
    }

    .bigCircle {
        height: 2em;
    }

    .circles {
        width: 5em;
    }

    /*Donde van las 4 casillas de verificación*/
    .circles {
        display: flex;
        align-items: center;
        column-gap: .1em;
    }

    .smallCircles {
        height: 1em;
        width: 1em;
    }

    .checkBtn {
        margin-top: 1em;
        margin-left: 3.5em;
        height: 2em;
        width: 6em;
        border-radius: .5em;
    }

    /* Winner */
    .bodyWinner {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 2.5em;
    }

    .newGame,
    .exit {
        border: .2em solid white;
        font-size: 1.3em;
        height: 3em;
    }

    .newGame {
        margin-bottom: 2em;
    }
}

.hidden {
    display: none;
}