* {
    box-sizing: border-box;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .navBar {
    background-color: lightcoral;
} */

.masterMainBody{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .bodyMasterMind,
.bodyLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .btnMain,
.levelBtn {
    border: .1em solid black;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .easyLevel{
    background: url("../img/easyLevel.png") no-repeat;
    background-position: bottom left;
} */
/* .mediumLevel{
    background: url("../img/mediumLevel.png") no-repeat;
    background-position: bottom left;
} */
/* .hardLevel{
    background: url("../img/hardLevel.png") no-repeat;
    background-position: bottom center;
} */

/* .difficulty{
    display: flex;
    flex-direction: column;
    row-gap: .1em;
} */
/* .inputColour{
    background-color: red;
    display: flex;
    justify-content: center;
} */
/* .colours4{
    height: 1em;
    width: 1em;
    border: .1em solid black;
} */
/* .colours5{
    height: 1em;
    width: 1em;
    border: .1em solid black;
} */
/* .colours6{
    height: 1em;
    width: 1em;
    border: .1em solid black;
} */
/* .selectColour{
    display: flex;
    justify-content: space-around;
} */
/* .inputColours{
    display: flex;
    column-gap: 1em;
    height: 1em;
    width: 1em;
    border: .1em solid black;
} */
/* .hidden{
    display: none;
} */

/* Vista móvil */
/* @media (max-width:576px) { */
@media (max-width:1199px) {
    
    .navBar {
        height: 17vh;
        margin-bottom: 1em;
    }


    .masterMainBody {
        row-gap: 2em;
    }

    .homeImg {
        height: 12em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        font-size: 1em;
        height: 2em;
        background-color: antiquewhite;
        border-radius: .5em;
    }

    .playGame{
        width: 8em;
        font-size: 2em;
        height: 3em;
    }

    .secundaryBtns{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }

    .levelsBody{
        margin-top: 2em;
    }

    .levelBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: antiquewhite;
        border-radius: .5em;
        width: 8em;
        font-size: 2em;
        height: 3em;
    }

    /* .bodyMasterMind,
    .bodyLevel {
        margin-top: .5em;
    } */

    /* .bodyMasterMind {
        row-gap: 2em;
    } */

    /* .btnsMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        width: 100%;
    } */


    /* .lvl .bodyMasterMind {
        margin-top: 6em;
    } */

    /* .lvl .bodyLevel {
        margin-top: 4.5em;
    } */

    /* .bodyLevel {
        row-gap: 1.5em;
    } */

    /* .levelBtn {
        width: 12em;
        height: 5em;
    } */

    /* .easyLevel {} */

    /* .mediumLevel {} */

    /* .hardLevel {} */

    /* .sectionTitle {
        width: 90vw;
        font-size: 1.2em;
        border-bottom: .1em solid black;
    } */

    /* .bodySection {
        display: flex;
        flex-direction: column;
        width: 90vw;
        row-gap: 1em;
    } */

    /* .section {
        display: flex;
        align-items: center;
        text-align: justify;
        column-gap: 1em;
    } */

    /* .bottomSection {
        display: flex;
        flex-direction: row-reverse;
    } */
}

/* Vista ordenador */
@media (min-width:1200px) {

    .navBar {
        margin-bottom: 2em;
        /* background-color: lightcoral; */
    }

    .logo{
        height: 18vh;
    }

    .masterMainBody,
    .indexBody {
        row-gap: 5em;
        /* background-color: lightblue; */
    }

    .homeImg {
        height: 25em;
    }

    .mainButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5em;
    }
    .secundaryBtns{
        display: flex;
        column-gap: 1em;
    }

    .mainBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        font-size: 1.2em;
        height: 2em;
        background-color: antiquewhite;
        border-radius: .5em;
    }
    .playGame{
        width: 15em;
        font-size: 2em;
        height: 2.5em;
    }

    /* .bodyMasterMind,
    .bodyLevel {
        height: 88vh;
        row-gap: 10em;
    } */

    /* .bodyLevel {
        row-gap: 1em;
        margin-top: 2em;
    } */

    /* .btnsMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        width: 100%;
    } */

    /* .btnMain {
        width: 120%;
        height: 1.5em;
        font-size: 2em;
    } */

    /* .levelBtn {
        width: 20em;
        height: 5em;
        font-size: 1.5em;
    } */

    /* .sectionTitle {
        width: 90vw;
        font-size: 2em;
        border-bottom: .1em solid black;
    } */

    /* .bodySection {
        border: 0.2em solid black;
        background-color: red;
        display: flex;
        flex-direction: column;
        width: 90vw;
    } */

    /* .section {
        display: flex;
        align-items: center;
        column-gap: 2em;
    } */

    /* .sectionText {
        font-size: 1.3em;
    } */

    /* .picture {
        height: 15em;
    } */

    /* .bottomSection {
        display: flex;
        flex-direction: row-reverse;
    } */
}